.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: space-between;
  min-height: 100svh;
  padding: 0px 30px;
  gap: 24px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.newmain{
  display: flex;
  flex-direction: column;
  /* gap: 32px; */
  grid-row-start: 2;
}

.herodiv{
  /* background-color: #383838; */
  padding: 0 20px;
  text-align: center;
  margin-top: 0px;  
}

.detailsmain{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
  gap: 10px;
  text-align: left;
}

.detailsimgdiv{
  width: 98%;
  height: 100%;
}
.detailsimgdiv img{
  width: 100%;
}
.detailsdesc{
  padding: 20px;
}

.footerdiv{
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #38383869;
}

@media screen and (max-width:576px) {
  .detailsmain{
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    gap: 10px;
    text-align: left;
  }
}




